* {
    font-family: Georgia, Times, serif;
}
html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
div#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}
div#fake {
    height: 25px;
}
div#footer {
    height: 28px;
    position: relative;
    margin-top: -28px;
    padding: 0px 5px;
    line-height: 25px;
    background-color: #CCC;
    font-size: small;
}
div#footer div#foot_left {
    float: left;
}
div#footer div#foot_right {
    float: right;
    padding-top: 3px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
}
div#pre_header {
    padding: 5px 10px;
    background-color: #F69;
    height: 15px;
}
div#header {
    padding: 5px 10px;
    background-color: #CCC;
    height: 24px;
    line-height: 22px;
}
div#header div#lblock {
    float: left;
}
div#header div#rblock {
    float: right;
    font-size: small;
}
div#content {
    position: relative;
    margin-right: 235px;
    padding: 10px;
}
div#rightcol {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200px;
    float: right;
    padding: 10px;
}
div#rightcol div {
    margin-bottom: 10px;
}
.inline {
    display: inline;
}
.hidden-block {
    display: none;
}
.small {
    font-size: small;
}
.hint {
    border-bottom: 1px black dashed;
    text-decoration: none;
}
.red {
    color: #F00;
}
.bggreen {
    background-color: #9F6;
}
a.toggle {
    border-bottom: 1px black dashed;
    text-decoration: none;
}
span.debug {
    font-size: small;
    background-color: yellow;
}
span.debug_error {
    font-size: small;
    background-color: #CC0000;
    color: yellow;
}
div#errata div.error {
    background-color: #F69;
}
div#errata div.ok {
    background-color: #9F9;
}
div.info {
    background-color: #ffe5b4;
    width: 50%;
    margin: auto 25%;
    text-align: center;
}
div#edit_tok {
    position: absolute;
    display: none;
    border: 1px black solid;
    background-color: #ffe5b4;
    width: 150px;
    padding: 3px;
}
/* FORMS */
form#login_form {
    margin: 10px;
}
form#add_link {
    display: none;
}
/* WORDS HIGHLIGHTING */
span.check_unpos {
    color: #CCC;
}
span.check_noword {
    background-color: yellow;
}
span.doubt_border {
    background-color: #F99;
}
span.ok_border {
    background-color: #9F6;
}
/* GRAMMEM EDITOR */
tr.gramed_bad {
    background-color: #C00;
}
tr.gramed_pos {
    background-color: #df73ff;
}
tr.gramed_group {
    background-color: yellow;
}
tr.gramed_label {
    background-color: #9f9;
}
/* ANNOTATION PAGE */
.sent_status0 {
    background-color: #fc0;
}
.sent_status1 {
    background-color: #c9a0dc;
}
div#source_text {
    margin-bottom: 20px;
}
span.src_token_hlt {
    background-color: #66FF66;
}
span.src_token_hlt_light {
    background-color: #CCFFCC;
}
div#main_scroller {
    float: left;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 10px 20px 10px;
}
div#main_scroller span#comment_fld {
    display: none;
}
div#main_scroller div {
    display: inline;
    float: left;
    margin-left: 5%;
    width: 70%;
    text-align: center;
}

div#scrollbar {
	height: 10px;
	overflow: scroll;
	overflow-y: hidden;
	padding: 10px;
	clear:both;
}

div#main_annot {
    padding: 10px;
    overflow: hidden;
}
div#main_annot table {
    border-spacing: 10px 0px;
}
div#main_annot table td {
    margin: 10px;
    padding: 0px;
    vertical-align: top;
}
div#main_annot div.tf {
    padding: 4px;
    padding-bottom: 12px;
    border: 1px black solid;
    text-align: center;
    font-size: larger;
}
div#main_annot div.tf a.reload {
    margin-left: 10px;
    vertical-align: super;
    font-size: small;
    text-decoration: none;
    color: purple;
}
div#main_annot div.var {
    padding: 2px;
    border: 1px black solid;
    border-top: none;
    text-align: center;
    min-width: 100px;
}
div#main_annot div.inactive {
    background-color: #CCC;
    color: #999;
}
div#main_annot div.inactive * {
    color: #999;
}
div#main_annot div.var a.del_var {
    display: block;
    float: right;
    color: red;
    font-size: small;
    text-decoration: none;
}
div#main_annot div.var a.best_var {
    display: block;
    float: left;
    color: #090;
    font-size: small;
    text-decoration: none;
}
div#main_annot div.var span.lt {
    display: block;
}
div.comment_main {
    margin-top: 15px;
    margin-left: 15px;
    padding: 3px;
    width: 200px;
    border: 1px black solid;
}
.ac_results {	padding: 0px;	border: 1px solid WindowFrame;	background-color: Window;	overflow: hidden;}
.ac_results ul {	width: 100%;	list-style-position: outside;	list-style: none;	padding: 0;	margin: 0;}
.ac_results iframe {	display:none;/*sorry for IE5*/	display/**/:block;/*sorry for IE5*/	position:absolute;	top:0;	left:0;	z-index:-1;	filter:mask();	width:3000px;	height:3000px;}
.ac_results li {	position:relative;    margin: 0px;	padding: 2px 5px;	cursor: pointer;	display: block;	width: 100%;	font: menu;	font-size: 12px;	overflow: hidden;}
.ac_results li em {color:#666666;}
.ac_over {	background-color: Highlight;	color: HighlightText;}
