* {
    font-family: Georgia, Times, serif;
}
body {
    margin: 0px;
    padding: 0px;
}
div#header {
    padding: 5px 10px;
    background-color: #CCCCCC;
    text-align: right;
    font-size: small;
}
div#content {
    width: 80%;
    float: left;
    padding: 10px;
}
div#rightcol {
    margin-left: 19%;
    padding: 10px;
    font-size: small;
}
.inline {
    display: inline;
}
.small {
    font-size: small;
}
a.toggle {
    border-bottom: 1px black dashed;
    text-decoration: none;
}
/* FORMS */
form#login_form {
    margin: 10px;
}
