* {
    font-family: Georgia, Times, serif;
}
html {
    height: 100%;
}
body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}
div#main {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}
div#fake {
    height: 25px;
}
div#footer {
    height: 28px;
    position: relative;
    margin-top: -28px;
    padding: 0px 5px;
    line-height: 25px;
    background-color: #CCC;
    font-size: small;
}
div#footer div#foot_left {
    float: left;
}
div#footer div#foot_right {
    float: right;
    padding-top: 3px;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
}
div#pre_header {
    padding: 5px 10px;
    background-color: #F69;
    height: 15px;
}
div#header {
    padding: 5px 10px;
    background-color: #CCC;
    height: 24px;
    line-height: 22px;
}
div#header div#lblock {
    float: left;
}
div#header div#rblock {
    float: right;
    font-size: small;
}
div#content {
    position: relative;
    margin-right: 235px;
    padding: 10px;
}
div#rightcol {
    position: absolute;
    top: 60px;
    right: 0px;
    width: 200px;
    float: right;
    padding: 10px;
}
div#rightcol div {
    margin-bottom: 10px;
}
.inline {
    display: inline;
}
.small {
    font-size: small;
}
.hint {
    border-bottom: 1px black dashed;
    text-decoration: none;
}
.red {
    color: #F00;
}
a.toggle {
    border-bottom: 1px black dashed;
    text-decoration: none;
}
span.debug {
    font-size: small;
    background-color: yellow;
}
span.debug_error {
    font-size: small;
    background-color: #CC0000;
    color: yellow;
}
/* FORMS */
form#login_form {
    margin: 10px;
}
/* WORDS HIGHLIGHTING */
span.check_unpos {
    color: #CCC;
}
span.check_noword {
    background-color: #C00;
    color: yellow;
}
/* GRAMMEM EDITOR */
tr.gramed_bad {
    background-color: #C00;
}
tr.gramed_pos {
    background-color: #df73ff;
}
tr.gramed_group {
    background-color: yellow;
}
tr.gramed_label {
    background-color: #9f9;
}
/* ANNOTATION PAGE */
div#source_text {
    margin-bottom: 20px;
}
span.src_token_hlt {
    background-color: #66FF66;
}
span.src_token_hlt_light {
    background-color: #CCFFCC;
}
div#main_scroller {
    float: left;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 10px 20px 10px;
    font-size: large;
    font-weight: bold;
    color: red;
}
div#main_scroller span#scr_l {
    display: inline;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
div#main_scroller span#scr_ll {
    display: inline;
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
div#main_scroller span#scr_lw {
    float: left;
    cursor: pointer;
}
div#main_scroller span#scr_rw {
    display: inline;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
div#main_scroller span#scr_rr {
    float: right;
    cursor: pointer;
}
div#main_scroller span#scr_r {
    display: inline;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
div#main_scroller div {
    display: inline;
    float: left;
    margin-left: 5%;
    width: 70%;
    text-align: center;
}

div#scrollbar {
	height: 10px;
	overflow: scroll;
	overflow-y: hidden;
	padding: 10px;
	clear:both;
}

div#main_annot {
    padding: 10px;
    overflow: hidden;
}
div#main_annot table {
    border-spacing: 10px 0px;
}
div#main_annot table td {
    margin: 10px;
    padding: 0px;
    vertical-align: top;
}
div#main_annot div.tf {
    padding: 4px;
    padding-bottom: 12px;
    border: 1px black solid;
    text-align: center;
    font-size: larger;
}
div#main_annot div.tf a.reload {
    margin-left: 10px;
    vertical-align: super;
    font-size: small;
    text-decoration: none;
    color: purple;
}
div#main_annot div.var {
    padding: 2px;
    border: 1px black solid;
    border-top: none;
    text-align: center;
    min-width: 100px;
}
div#main_annot div.inactive {
    background-color: #CCC;
    color: #999;
}
div#main_annot div.inactive * {
    color: #999;
}
div#main_annot div.var a.del_var {
    display: block;
    float: right;
    color: red;
    font-size: small;
    text-decoration: none;
}
div#main_annot div.var a.best_var {
    display: block;
    float: left;
    color: #090;
    font-size: small;
    text-decoration: none;
}
div#main_annot div.var span.lt {
    display: block;
}
