.htaccess
/assets/vendor
/composer.phar
/config.ini
/config.json
/doc/articles/*.pdf
/doc/presentations/*.pdf
/files
/vendor
/yadisk-auth
/yandex_*.html
/yandex_*.txt
*.swp
*.project
*.prefs
*.pydevproject
*.pyc
