@font-face {
    font-family: test;
    src: url("../img/sf.ttf");
}

.btn {
    background-image: none;
}

.btn-success .badge-inverse {
    background-color: #363;
}

.alert-info {
    background-color: #ecf0f9;
    color: #5979b3;
    border-color: #bac9e3;
}

.badge {
    padding: 2px 9px 2px;
}

a {
    text-decoration: underline;
}
.dropdown-menu {
    z-index: 1050;
}

.dropdown-menu a {
    text-decoration: none;
}

a.close {
    text-decoration: none;
}

a.pseudo {
    text-decoration: none;
    border-bottom: 1px dashed;
}

a.pseudo:hover {
    border-bottom: 1px solid;
}

a.btn, .nav-tabs a, .pager a {
    text-decoration: none;
}

h1 {
    margin-bottom: 25px;
    font-weight: 800;
}

h1, h2, h3, h4 {
    font-family: "Open Sans", sans-serif;
}

table.borderless, td.borderless, tr.borderless td, th.borderless, tr.borderless th {
    border: none;
}

table.borderless td {
    border: none;
}

.color-light {
    color: #909090;
}

.space-after {
    margin-bottom: 20px;
}

html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #FDFDFD;
    font-family: Helvetica, Arial, sans-serif;
}

input, button, select, textarea {
    font-family: Helvetica, Arial, sans-serif;
}

.nav-tabs>.active>a, .nav-tabs>.active>a:hover {
    background-color: #fdfdfd;
}

.table tbody tr.warning > td {
    background-color: #fcf8e3;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    position: relative;
}

#footer {
    background: url("../img/tiny_grid.png");
    border-top: #406cbd 1px solid;
    height: 30px;
    width: 100%;
    bottom: 0;
    clear: both;
    position: absolute;
    margin-top: -70px;
    padding: 25px 0px 25px;
    line-height: 25px;
}

#header {
}

#header .navbar-inner {
    background-image: none;
}

#header .brand {
    font-family: test, "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #2653a6;
    font-size: 20px;
    padding: 12px 20px 8px;
    text-decoration: none;
}

#header .nav a {
    margin-bottom: 1px;
}

#header .dropdown-menu a {
    /*color: #406cbd;*/;
}

.login-corner-openid {
    padding: 10px 0 0;
}

.login-corner-block {
    padding: 10px 20px 0;
}

.login-corner-user {
    background-image: url("../img/icon_user_blue.png");
    background-repeat: no-repeat;
    background-position: 15px center;
}

.login-corner-admin {
    background-image: url("../img/icon_user_orange.png");
}

.navbar .nav > li > a.login-corner-user {
    padding-left: 37px;
}

.login-corner-user span.badge-star {
    margin-right: 7px;
    background-color: none;
    background: url("../img/star.png") no-repeat;
    padding: 10px 12px;
}

#header .lang-switcher {
    background-repeat: no-repeat;
    background-position: 0 15px;
    padding-left: 20px;
}

#header .lang-switcher-en {
    background-image: url("../img/lang_en.png");
}

#header .lang-switcher-ru {
    background-image: url("../img/lang_ru.png");
}

#header .login-corner-block .forgot-link {
    padding: 0;
}

a.loginza {
    text-decoration: none;
}

.reg-link, #header .login-corner-block .reg-link {
    display: inline;
    vertical-align: -5px;
    padding: 0 0 0 10px;
}

.nav-wrapper {
    padding: 8px 0;
}

.nav-wrapper .nav a {
    text-decoration: none;
}

.nav-wrapper .nav-well-form {
    padding: 10px 15px 0;
}

.nav-wrapper .nav-well-form input {
    margin-bottom: 0;
}

.social-index-block {
    margin-top: 20px;
}

.promo-unit {
    background: url("../img/tiny_grid.png");
    padding: 0;
    color: #fff;
    border-bottom: #406cbd 1px solid;
}

.promo-unit-close {
    padding: 5px 20px 0 0;
}

.promo-unit-inner {
    padding: 50px 0;
}

.promo-unit h1 {
    margin-bottom: 15px;
}

.promo-unit span {
    padding: 3px 10px;
    color: #fff;
}

.promo-unit h1 span {
    background-color: #406cbd;
}

.promo-unit p span {
    background-color: #f8c206;
}

.promo-unit .promo-button {
    font-size: 28px;
    line-height: 1;
    margin: 43px 0 15px;
    ;
    height: 70px;
    width: 450px;
}

#container {
    padding: 10px 10px 110px;
    margin: 20px auto 0;
}

.inline {
    display: inline;
}

.hidden-block {
    color: #999;
    display: none;
}

.small {
    font-size: small;
}

.hint {
    border-bottom: 1px black dashed;
    text-decoration: none;
}

.red {
    color: #F00;
}

.bggreen {
    background-color: #9F6;
}

.bgblue {
    background-color: #9CF;
}

.bgpink {
    background-color: #f99;
}

.bgyellow {
    background-color: yellow;
}

.bgorange {
    background-color: #F8CB6A;
}

a.toggle {
    border-bottom: 1px black dashed;
    text-decoration: none;
}

.debug {
    font-size: small;
    background-color: yellow;
}

.debug_error {
    font-size: small;
    background-color: #CC0000;
    color: yellow;
}

table.toc li {
    list-style-type: none;
}

span.editsection {
    display: none;
}

div#errata div.error {
    background-color: #F69;
}

div#errata div.ok {
    background-color: #9F9;
}

div.info {
    background-color: #ffe5b4;
    width: 50%;
    margin: auto 25%;
    text-align: center;
}

div#edit_tok {
    position: absolute;
    z-index: 1;
    display: none;
    border: 1px black solid;
    background-color: #ffe5b4;
    width: 150px;
    padding: 3px;
}

div#edit_tok div.close {
    float: right;
}
/*div.progress {
    overflow: hidden;
    width: 100px;
    height: 15px;
    border: 1px solid #000;
    background: #9f6;
    margin: 0;
    padding: 0;
}
div.progress_load {
    height: 15px;
    border: 1px solid #000;
    background: green;
    margin: 0;
    padding: 0;
}*/
/* FORMS */
form#login_form {
    margin: 10px;
}
/* WORDS HIGHLIGHTING */
span.check_unpos {
    color: #CCC;
}

span.check_noword {
    background-color: yellow;
}

span.doubt_border {
    background-color: #F99;
}

span.ok_border {
    background-color: #9F6;
}
/* GRAMMEM EDITOR */
tr.gramed_bad {
    background-color: #C00;
}

tr.gramed_pos {
    background-color: #df73ff;
}

tr.gramed_group {
    background-color: yellow;
}

tr.gramed_label {
    background-color: #9f9;
}
/* ANNOTATION PAGE */
.sent_status0 {
    background-color: #fc0;
}

.sent_status1 {
    background-color: #c9a0dc;
}

div#source_text {
    margin-bottom: 20px;
}

span.src_token_hlt {
    background-color: #66FF66;
}

span.src_token_hlt_light {
    background-color: #CCFFCC;
}

div#main_scroller {
    float: left;
    margin-bottom: 0px;
    width: 100%;
    padding: 0px 10px 20px 10px;
}

div#main_scroller span#comment_fld {
    display: none;
}

div#main_scroller div#main_scroller_inner {
    display: inline;
    float: left;
    margin-left: 5%;
    width: 70%;
    text-align: center;
}

div#scrollbar {
    height: 10px;
    overflow: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* iOS */
    padding: 10px;
    clear: left;
}

div#main_annot {
    padding: 10px;
    overflow: hidden;
}

div#main_annot table {
    border-spacing: 10px 0px;
    max-width: none;
}

div#main_annot table td {
    margin: 10px;
    padding: 0px;
    vertical-align: top;
}

div#main_annot div.tf {
    padding: 4px;
    padding-bottom: 12px;
    border: 1px black solid;
    text-align: center;
    font-size: larger;
}

div#main_annot div.tf a.reload {
    margin-left: 10px;
    vertical-align: super;
    font-size: small;
    text-decoration: none;
    color: purple;
}

div#main_annot div.var {
    padding: 2px;
    border: 1px black solid;
    border-top: none;
    text-align: center;
    min-width: 100px;
}

div#main_annot div.inactive {
    background-color: #CCC;
    color: #999;
}

div#main_annot div.inactive * {
    color: #999;
}

div#main_annot div.var a.del_var {
    display: block;
    float: right;
    color: red;
    font-size: small;
    text-decoration: none;
}

div#main_annot div.var a.best_var {
    display: block;
    float: left;
    color: #090;
    font-size: small;
    text-decoration: none;
}

div#main_annot div.var span.lt {
    display: block;
}

div.main_annot_syntax {
    margin-top: 15px;
}

div.main_annot_syntax #tokens {
    font-size: 17px;
    margin-bottom: 15px;
    line-height: 30px;
    margin-left: -5px;
}

div.main_annot_syntax .tokens span.token,
div.main_annot_syntax .tokens span.group {
    cursor: pointer;
    display: inline-block;
}

div.main_annot_syntax .tokens span.token {
    margin-left: 5px;
}

div.main_annot_syntax .tokens > :first-child {
    margin-left: 0px !important;
}

div.main_annot_syntax .tokens span.group {
    border-bottom: solid 1px navy;
    margin-left: 5px;
    padding: 0px 2px;
    line-height: 25px;
    /*background-color: #d9edf7;*/
    border-radius: 3px;
}

div.main_annot_syntax .tokens span.group.deep {
    border-bottom: none;
}

div.main_annot_syntax .tokens span.group span.token:first-child {
    margin-left: 0px;
}

.row_other_user {
    background-color: whitesmoke;
    border-radius: 4px;
}

.remove_group, .copy_group {
    cursor: pointer;
}

table.empty_table tr.stub_tr {
    display: table-row;
}

table tr.stub_tr {
    display: none;
}

div.comment_main {
    margin-top: 15px;
    margin-left: 15px;
    padding: 3px;
    border: 1px black solid;
}

.ac_results {
    padding: 0px;
    border: 1px solid WindowFrame;
    background-color: Window;
    overflow: hidden;
}

.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ac_results iframe {
    display: none;
/*sorry for IE5*/
    display/**/: block;
/*sorry for IE5*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    filter: mask();
    width: 3000px;
    height: 3000px;
}

.ac_results li {
    position: relative;
    margin: 0px;
    padding: 2px 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    font: menu;
    font-size: 12px;
    overflow: hidden;
}

.ac_results li em {
    color: #666666;
}

.ac_over {
    background-color: Highlight;
    color: HighlightText;
}
/* DISAMBIGUATION PAGE */
.ma_types {
    width: 100%;
}

.ma_type_row td {
    padding: 0 20px 7px 0;
}

.ma_type_row td.ma_type_name {
    width: 450px;
}

.ma_type_row td.ma_type_hot {
    font-weight: bold;
}

.ma_type_show:hover:after {
    content: " ↓";
}

.ma_type_show.active:after {
    content: " ↑";
}

.ma_type_help {
    width: 90px;
}

.ma_pools_complexity {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-image: url("../img/icon_star_gray.png");
    float: left;
    margin-right: 10px;
    cursor: help;
}

.ma_pools_complexity_1 {
    background-image: url("../img/icon_star_green.png");
}

.ma_pools_complexity_2 {
    background-image: url("../img/icon_star_yellow.png");
}

.ma_pools_complexity_3 {
    background-image: url("../img/icon_star_orange.png");
}

.ma_pools_complexity_4 {
    background-image: url("../img/icon_star_red.png");
}

.ma_type_pools {
    padding: 5px 0;
}

.ma_type_pools table {
    margin-left: 28px;
}

div.ma_status_block {
    background-color: #f8cb6a;
    position: absolute;
    right: 0;
    padding: 5px 25px;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 3px 3px #ead8b0;
    margin-bottom: 15px;
}

div.ma_status_block .progress {
    width: 170px;
    margin: 5px 0 0;
}

div.ma_status_block .badges-block {
    padding: 0 0 0 20px;
}

div.ma_status_block .badges-block a {
    margin-left: 10px;
}

div.ma_status_block .badges-block a.badge-inactive {
    opacity: 0.3;
}

div.ma_instance {
    margin-bottom: 30px;
}

div.ma_instance_words {
    margin-bottom: 4px;
}

.ma_instance_word {
    background-color: #F8CB6A;
    padding: 1px 3px;
    font-size: 20px;
}

.ma_annot_top_block {
    margin-bottom: 20px;
}

div.ma_instance .comment {
    margin-left: 5px;
}

div.ma_instance .controls {
    padding-top: 7px;
}

div.ma_instance .controls textarea {
    display: block;
    margin-bottom: 5px;
}

a.expand {
    background-color: #CCC;
    padding: 0 4px;
    text-decoration: none;
}

div.ma_instance button {
    font-size: 16px;
}

div.ma_instance button.other {
    color: brown;
}

div.ma_instance button.chosen {
    border: 3px green solid;
    font-weight: bold;
}

button.ma_next_pack {
}

.progress-bar {
    width: 150px;
    height: 5px;
    background-color: #99FF66;
    margin: 10px 0;
}

.progress-bar div {
    background-color: #067E06;
    width: 0;
    height: 5px;
}

.splash-block {
    padding: 20px 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.splash-block h3 {
    font-size: 24px;
}

.splash-block.success {
    background-color: #DFF0D8;
    border-color: #D6E9C6;
    color: #468847;
}
/* POOL REVIEW PAGE*/
.diff_colors_0 {
    background-color: #6c6;
}

.diff_colors_1 {
    background-color: #cf9;
}

.diff_colors_2 {
    background-color: #fcf;
}

.diff_colors_3 {
    background-color: #0cf;
}

.diff_colors_4 {
    background-color: #ff9;
}

.diff_colors_5 {
    background-color: #ccc;
}

.diff_colors_6 {
    background-color: #f93;
}

.diff_colors_7 {
    background-color: #c06;
}

.diff_colors_8 {
    background-color: #cff;
}

.diff_colors_9 {
    background-color: #f33;
}

.diff_colors_10 {
    background-color: #666;
}

.diff_colors_11 {
    background-color: #99f;
}

.diff_colors_12 {
    background-color: #099;
}

.diff_colors_13 {
    background-color: #00f;
    color: #fff;
}

.diff_colors_14 {
    background-color: #600;
    color: #fff;
}

/* Anaphora module */
.anaph-paragraph {
    /*text-indent: 20px;*/
    margin-top: 18px;
    font-size: 16px;
    line-height: 24px;
}

.anaph-token {
    padding: 2px 3px;
    border-radius: 2px;
}

.anaph-prop {
    background-color: #FCE;
    cursor: pointer;
}

.anaph-head.anaph-active {
    background-color: #FEC;
    cursor: pointer;
}

.anaph-prop.anaph-active {
    background-color: #0074D9;
    color: white;
}

.popover-wide {
    min-width: 400px;
}

.popover-stretch {
    width: auto;
}

.tr-tpl {
    display: none;
}

.anaph-table tr:hover {
    cursor: pointer;
    background: #fec;
}

.anaph-table tr.tr-tpl:hover, .anaph-table tr.tr-stub:hover {
    cursor: default;
}

/* NER module */
.ner-paragraph {
    font-size: 0; /* to remove extra spaces */
    line-height: 37px;
}

/* абзац можно размечать - по умолчанию */
.ner-paragraph-wrap {
    padding: 7px;
    border-radius: 4px;
    position: relative;
}

.ner-row {
    margin-bottom: 30px;
}

.ner-paragraph-wrap .ner-btn-finish {
    display: none;
}

/* абзац уже размечен нужное количество раз */
.ner-paragraph-wrap.ner-disabled {
    background: whitesmoke;
    opacity: 0.8;
}

.ner-paragraph-wrap.ner-disabled .ner-paragraph-controls {
    display: none;
}

/* текущий пользователь уже брал на разметку этот абзац и не закончил */
.ner-paragraph-wrap.ner-mine {
    background: #fcf8e3;
}

.ner-paragraph-wrap.ner-mine .ner-btn-start {
    display: none;
}

.ner-paragraph-wrap.ner-mine .ner-btn-finish {
    display: inline-block;
}

.ner-paragraph-controls {
    margin-top: 10px;
}

.ner-token {
    padding: 3px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.ner-token-highlighted {
    background-color: lightblue;
}

.ner-token-text {
    font-size: 16px;
}

.ner-token-borders {
    display: block;
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: -7px;
    left: 0px;
}

.ner-token-border {
    display: block;
    position: absolute;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    height: 5px;
}

.ner-token-border.first-token {
    border-bottom-left-radius: 10px;
}

.ner-token-border.last-token {
    border-bottom-right-radius: 10px;
}

.ner-token.ner-token-selected {
    background-color: rgb(217, 237, 247);
    color: #3a87ad;
}

.ner-entity {
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 0px;
}

.ner-entity.ner-multiple-types, .ner-token-border.ner-multiple-types {
    border-bottom-color: darkgray;
}

.floating-block.visible {
    display: block;
}

.popover.floating-block .popover-content {
    padding: 7px;
}

.types-popover {
    width: auto;
    max-width: 600px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.types-popover .type-selector {
    margin-right: 0px;
}

.type-selector {
    display: inline-block;
    margin-right: 10px;
}

.type-selector .btn.active {
    border-bottom-color: white;
    padding-bottom: 3px;
    border-bottom-width: 2px;
}

.ner-table-wrap table {
    font-size: 12px;
}

.ner-table-wrap.ner-disabled table tr td:nth-child(1) {
    display: none;
}

.ner-table-wrap.ner-disabled table tr td.ner-entity-type {
    text-align: right;
}

.bootstrap-select.btn-group:not(.input-group-btn),
.bootstrap-select.btn-group[class*=span],
.bootstrap-select.btn-group[class*=col-] {
    margin-bottom: 0px !important;
}

.templates {
    display: none;
}

.buttons-container {
    margin: 10px 0px;
    margin-bottom: 30px;
}

.buttons-container .btn-group {
    display: inline-block;
    vertical-align: top;
}

.kbd-visual {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -80px;
    background: rgba(0, 0, 0, 0.6);
    min-width: 120px;
    height: 70px;
    padding: 0px 20px;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    font-family: monospace;
    display: none;
    z-index: 100;
}

/* comment module */

.comment-marker {
    width: 20px;
    height: 18px;
    background: #DEDEDC;
    border-radius: 2px;
    text-decoration: none;
    position: absolute;
    top: 50%;
    margin-top: -9px;
    left: -30px;
    cursor: pointer;
}

.comment-marker:before,
.comment-marker span {
    content: "";
    position: absolute;
    width: 20px;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    color: #FFF;
    text-align: center;
}

.comment-marker span {
    line-height: 18px;
    font-size: 12px;
}

.comment-marker:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -7px;
    left: 5px;
    width: 0;
    border-width: 7px 0px 0px 8px;
    border-style: solid;
    border-color: #DEDEDC transparent;
}

.comment-marker:hover {
    background: #4FAF62;
}

.comment-marker:hover:after {
    border-color: #4FAF62 transparent;
}

.comment-marker:hover {
    border-color: #4FAF62 transparent;
}

.comment-list-stub {
    display: none;
}

.comment-wrap {
    width: 210px;
    padding: 6px;
    font-size: 13px;
}

.comment-wrap .comment-date {
    color: #ccc;
    font-weight: bold;
    font-size: 11px;
}

.comment-add textarea {
    font-size: 13px;
}

#scrollbar::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

#scrollbar::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/* hide edit sections on pages from wiki */
.mw-editsection {
    display: none;
}

/* autocomplete */
.autocomplete-suggestions { border: 1px solid #999; background: #fff; overflow: auto }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }

/* grammems edit (dict.php?act=edit) */
.form-inline .bootstrap-select {
    vertical-align: top;
}

tr.valign-top td {
    vertical-align: top;
}

/* achievements */
.achievement-well {
    /*padding-top: 20px;*/
    padding-bottom: 10px;
}

.achievement-well .progress {
    position: absolute;
    width: 100%;
    height: 15px;
    bottom: -50px;
}

.achievement-well .achievement-wrap {
    margin-right: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
    cursor: pointer;
}

.achievement-well-no-margin .achievement-wrap {
    margin-top: 0px;
}

/* общие классы */
.achievement-wrap {
    display: inline-block;
    width: 400px;
    height: 400px;
    background-position: center center;
    border-radius: 400px;
    border-style: solid;
    border-width: 15px;
    position: relative;
    background-repeat: no-repeat;
}

.achievement-level {
    position: absolute;
    bottom: -15px;
    right: -15px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    line-height: 100px;
    text-align: center;
    font-family: Arial;
    font-weight: bold;
    font-size: 40px;
    border-style: solid;
    border-width: 15px;
}

.achievement-wrap:after {
    font-size: 200px;
    line-height: 368px;
}

.achievement-tooltip {
    font-family: "Open Sans";
}

.tooltip-wider .tooltip-inner {
    max-width: 300px;
    font-family: "Helvetica", Arial, sans-serif;
}

.achievement-tooltip.top {
    margin-top: -10px;

}
.achievement-tooltip.bottom {
    margin-top: 10px;
}

.achievement-tooltip.top.tooltip-white .tooltip-arrow {
    border-top-color: #eee;
}

.achievement-tooltip.tooltip-white.bottom .tooltip-arrow {
    border-bottom-color: #eee;
}

.achievement-tooltip.tooltip-white.right .tooltip-arrow {
    border-right-color: #eee;
}

.achievement-tooltip.tooltip-white .tooltip-inner {
    background-color: #eee;
    color: black;
}

.achievement-stub {
/*    -webkit-filter: grayscale(0.8);*/
    opacity: 0.3;
    border-color: #666 !important;
}

.achievement-stub .achievement-level,
.achievement-stub .progress {
    display: none;
}

/* маленькие ачивки */
.achievement-small {
    display: inline-block;
    border-width: 4px;
    width: 92px;
    height: 92px;
    background-size: 100px 100px;
}

.achievement-small .achievement-level {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border-width: 4px;
    line-height: 30px;
    font-size: 15px;
    right: -10px;
    bottom: -4px;
}

.achievement-small:after {
    font-size: 50px;
    line-height: 92px;
}

/* средние */
.achievement-medium {
    display: inline-block;
    border-width: 8px;
    width: 184px;
    height: 184px;
    background-size: 200px 200px;
}

.achievement-medium .achievement-level {
    width: 60px;
    height: 60px;
    border-radius: 60px;
    border-width: 8px;
    line-height: 60px;
    font-size: 30px;
    right: -20px;
    bottom: -8px;
}

.achievement-medium:after {
    font-size: 100px;
    line-height: 184px;
}

/* а теперь - звери */
.achievement-wrap.achievement-bobr {
    background-image: url(../img/badges/bobr-400x400.png); /* url зверушки */
    border-color: #603813; /* цвет обводки снаружи */
}

.achievement-level.achievement-bobr-level {
    background-color: #E6CEB3; /* фон круга с цифрой */
    border-color: #603813; /* цвет обводки снаружи у круга с цифрой */
    color: #603813; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-bobr {
    background-image: url(../img/badges/bobr-100x100-grayscale.png);
}

.achievement-wrap.achievement-dog {
    background-image: url(../img/badges/dog-400x400.png); /* url зверушки */
    border-color: #4D4D4D; /* цвет обводки снаружи */
}

.achievement-level.achievement-dog-level {
    background-color: #F5F5F7; /* фон круга с цифрой */
    border-color: #4D4D4D; /* цвет обводки снаружи у круга с цифрой */
    color: #4D4D4D; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-dog {
    background-image: url(../img/badges/dog-100x100-grayscale.png);
}

.achievement-wrap.achievement-chameleon {
    background-image: url(../img/badges/chameleon-400x400.png); /* url зверушки */
    border-color: #006837; /* цвет обводки снаружи */
}

.achievement-level.achievement-chameleon-level {
    background-color: #EDF4AB; /* фон круга с цифрой */
    border-color: #006837; /* цвет обводки снаружи у круга с цифрой */
    color: #006837; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-chameleon {
    background-image: url(../img/badges/chameleon-100x100-grayscale.png);
}

/* рыбки */
.achievement-wrap.achievement-fish {
    background-image: url(../img/badges/fish-400x400.png); /* url зверушки */
    border-color: #384a8c; /* цвет обводки снаружи */
}

.achievement-level.achievement-fish-level {
    background-color: #ffffff; /* фон круга с цифрой */
    border-color: #384a8c; /* цвет обводки снаружи у круга с цифрой */
    color: #384a8c; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-fish {
    background-image: url(../img/badges/fish-100x100-grayscale.png);
}

/*аист*/
.achievement-wrap.achievement-aist {
    background-image: url(../img/badges/aist-400x400.png); /* url зверушки */
    border-color: #333333; /* цвет обводки снаружи */
}

.achievement-level.achievement-aist-level {
    background-color: #e6f9fe; /* фон круга с цифрой */
    border-color: #333333; /* цвет обводки снаружи у круга с цифрой */
    color: #333333; /* цвет цифры == цвет обводки */
}

.achievement-stub.achievement-aist {
    background-image: url(../img/badges/aist-100x100-grayscale.png);
}

/* хочу еще */
.achievement-wrap.achievement-wantmore {
    background-image: url(../img/badges/wantmore-400x400.png);
    border-color: #59478E; /* цвет обводки снаружи */
}

.achievement-stub.achievement-wantmore {
    background-image: url(../img/badges/wantmore-100x100-grayscale.png);
}

.fs0-fix {
    font-size: 0;
}

.modal-body.fs0-fix {
    max-height: 500px;
}

.a-wrap .achievement-wrap {
    display: block;
    margin: 0 auto;
}

.inline-50 {
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    width: 50%;
    margin-bottom: 20px;
}

.a-desc {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.modal-open .tooltip {
    z-index: 1030;
}

.a-modal {
    margin-top: -300px;
}

.a-modal-square {
    width: 390px;
    margin-left: -195px;
}

/* achievement stats */
.achievement-stats {
    padding-left: 25px;
}

.achievements-tabbable {
    padding-top: 10px;
}

.achievement-stats .achievement-wrap {
    display: block;
    margin: 0 auto;
}

.achievement-stats .a-title {
    width: 200px;
    margin: 10px auto;
    text-align: center;
    color: #444;
}

.lead-medium {
    font-size: 16px;
    line-height: 22px;
}

.a-stats {
    height: auto;
    min-width: 370px;
/*    border-left: solid 2px #f5f5f5;
    border-bottom: solid 2px #f5f5f5;
    padding-left: 5px;
    padding-bottom: 5px;*/
}

.a-bar-wrap {
    width: 150px;
    background-color: #fbfbfb;
/*    margin-bottom: 3px;*/
}

.a-bar {
    width: 100%;
    position: relative;
    background-color: #eee;
    /*padding-left: 5px;*/
}

.t-level, .t-count {
    text-align: right;
    color: #ccc;
    font-weight: bold;
    padding: 0px 10px;
}

.t-count {
    /*min-width: 70px;*/
    white-space: nowrap;
}

.t-level {
    color: #444;
}

.height-5 {
    height: 20px;
}

.t-text {
    color: #444;
    width: 100px;
    padding-left: 10px;
}


.t-row.t-my-level td {
    color: #a19679;
}

.tooltip-large {
    font-size: 13px;
}
.tooltip-large.right {
    margin-left: 13px;
}

.small-tabs.nav-tabs > li, .small-tabs.nav-tabs > li > a {
    line-height: 12px;
    font-size: 11px;
    padding-top: 2px;
    padding-bottom: 1px;
    margin-bottom: -1px;
    text-transform: uppercase;
}

.small-tabs {
    margin-bottom: 8px;
}

.dragged-up {
    position: relative;
    top: -18px;
}

.mentions-current-selection {
    background-color: plum;
    color: white;
}

.tab-content {
    overflow: visible;
}

.ner-table tr:first-child td, .mentions-table tr:first-child td {
    border-top: none;
}
}
